@import "tailwindcss";

@theme {
  --color-brand: #f17463;
  
  --color-gradient:linear-gradient(90deg,#0000 calc(50%-2px),#fff,#0000 calc(50%+2px));
  --spread:16px;
  --gradient-brand:linear-gradient(var(--color-brand),var(--color-brand));
  --bg:linear-gradient(90deg,#0000 calc(50%-(var(--spread))),#fff,#0000 calc(50%+var(--spread)));
}

